In [1]:
from mlxtend.preprocessing import TransactionEncoder

In [2]:
import mlxtend
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [3]:
from matplotlib import rc, font_manager
import matplotlib.font_manager as fm

# 디렉토리 및 파일 이름에 맞추어 변경
font_location = 'C:/Windows/Fonts/malgun.ttf'

font_name = fm.FontProperties(fname=font_location).get_name()
rc('font', family=font_name)

### csv 전처리

In [6]:
df=pd.read_csv('favorite_MOCK_DATA.csv')

In [10]:
df.set_index('member_idx', inplace=True)

In [24]:
df[0:1]

,여행지1,여행지2,여행지3,여행지4,여행지5,여행지6,여행지7,여행지8,여행지9,여행지10
member_idx,,,,,,,,,,
1,19 Hudson Park,76 Clyde Gallagher Drive,13594 Graedel Crossing,621 Merry Crossing,274 Blue Bill Park Street,252 Hanson Circle,7 Forest Run Pass,694 Barnett Parkway,40688 Mcbride Park,1 Saint Paul Place

In [31]:
df['여행지1'].str.cat(df['여행지2'], sep=' ').str.cat(df['여행지3'], sep=' ').str.cat(df['여행지4'], sep=' ').str.cat(df['여행지5'], sep=' ').str.cat(df['여행지6'], sep=' ').str.cat(df['여행지7'], sep=' ').str.cat(df['여행지8'], sep=' ').str.cat(df['여행지9'], sep=' ').str.cat(df['여행지10'], sep=' ')
# 여행지 1~10을 하나의 String으로 묶기

member_idx
1       19 Hudson Park 76 Clyde Gallagher Drive 13594 ...
2       2517 Crownhardt Plaza 2141 Butterfield Junctio...
3       994 Ilene Way 0205 Kropf Trail 04 Porter Point...
4       148 Redwing Street 35039 Clarendon Court 9 Car...
5       22 Bartelt Place 1 Donald Terrace 0 Hermina Ce...
                              ...
996     09 Gina Place 6075 Blackbird Hill 0 Union Circ...
997     68657 Ludington Park 67 Twin Pines Circle 4460...
998     22638 Portage Road 33873 Burning Wood Lane 950...
999     17 Dawn Trail 3 Maple Terrace 492 Autumn Leaf ...
1000    3 Burrows Way 28499 Brickson Park Park 8 Westp...
Name: 여행지1, Length: 1000, dtype: object

### TF-IDF, 코사인 유사도

In [4]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity, euclidean_distances

In [5]:
tfidf = TfidfVectorizer()

In [ ]:
tfidf_matrix = tfidf.fit_transform()