In [3]:
import pandas as pd
import numpy as np

In [14]:
df=pd.DataFrame({
    'A':[1,5,9],
    'B':[2,6,10],
    'C':[3,7,11],
    'D':[4,8,12],
})
df

   A   B   C   D
0  1   2   3   4
1  5   6   7   8
2  9  10  11  12

In [59]:
df.iloc[[0,2],:2].T.apply(np.square).iloc[0,1]

81

In [58]:
df.iloc[:2,1:].apply(np.exp2).T

      0      1
B   4.0   64.0
C   8.0  128.0
D  16.0  256.0

In [16]:
df.T.apply(np.sqrt)

          0         1         2
A  1.000000  2.236068  3.000000
B  1.414214  2.449490  3.162278
C  1.732051  2.645751  3.316625
D  2.000000  2.828427  3.464102

In [20]:
df.T.apply(np.square).apply(np.sqrt)

     0    1     2
A  1.0  5.0   9.0
B  2.0  6.0  10.0
C  3.0  7.0  11.0
D  4.0  8.0  12.0