In [1]:
import pandas as pd

In [2]:
df=pd.DataFrame({
    'A':[10,20,10,30,10],
    'B':[None, True, False, None, True]
})

In [3]:
df

    A      B
0  10   None
1  20   True
2  10  False
3  30   None
4  10   True

In [11]:
df.duplicated(subset='A', keep='first')

0    False
1    False
2     True
3    False
4     True
dtype: bool

In [10]:
df.duplicated(subset='B', keep='last')

0     True
1     True
2    False
3    False
4    False
dtype: bool