In [381]:
import warnings
warnings.filterwarnings(action='ignore')
import pandas as pd

In [382]:
import nltk

In [383]:
nltk.corpus.twitter_samples.fileids()

['negative_tweets.json', 'positive_tweets.json', 'tweets.20150430-223406.json']

In [384]:
neg_tweets_raw = nltk.corpus.twitter_samples.raw("negative_tweets.json")

# spam.csv

In [385]:
from nltk.tokenize import sent_tokenize
from nltk.tokenize import word_tokenize
from nltk.tokenize import RegexpTokenizer

In [386]:
df=pd.read_csv('spam.csv', encoding='latin1')

In [387]:
df

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [388]:
df=df[{'v1', 'v2'}]

In [389]:
df

                                                     v2    v1
0     Go until jurong point, crazy.. Available only ...   ham
1                         Ok lar... Joking wif u oni...   ham
2     Free entry in 2 a wkly comp to win FA Cup fina...  spam
3     U dun say so early hor... U c already then say...   ham
4     Nah I don't think he goes to usf, he lives aro...   ham
...                                                 ...   ...
5567  This is the 2nd time we have tried 2 contact u...  spam
5568              Will Ì_ b going to esplanade fr home?   ham
5569  Pity, * was in mood for that. So...any other s...   ham
5570  The guy did some bitching but I acted like i'd...   ham
5571                         Rofl. Its true to its name   ham

[5572 rows x 2 columns]

In [390]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   v2      5572 non-null   object
 1   v1      5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [391]:
df[df['v1']=='ham'].head()

                                                  v2   v1
0  Go until jurong point, crazy.. Available only ...  ham
1                      Ok lar... Joking wif u oni...  ham
3  U dun say so early hor... U c already then say...  ham
4  Nah I don't think he goes to usf, he lives aro...  ham
6  Even my brother is not like to speak with me. ...  ham

In [392]:
df[df['v1']=='spam'].head()

                                                   v2    v1
2   Free entry in 2 a wkly comp to win FA Cup fina...  spam
5   FreeMsg Hey there darling it's been 3 week's n...  spam
8   WINNER!! As a valued network customer you have...  spam
9   Had your mobile 11 months or more? U R entitle...  spam
11  SIX chances to win CASH! From 100 to 20,000 po...  spam

## 정규식 사용하여 단어만 추출 후, 결과 리스트의 요소들을 공백 기준 String으로 변환

In [393]:
spam_str=df['v2'][df['v1']=='spam'].to_string().lower()
ham_str=df['v2'][df['v1']=='ham'].to_string().lower()
# 스팸메일, 햄메일 내용을 전부 묶어 각각 string으로 저장, 소문자로 변환

In [394]:
retokenize=RegexpTokenizer('[a-zA-Z]+') #영어 글자만 추출하는 정규식(대, 소문자 포함)

In [395]:
spam_word_token=retokenize.tokenize(spam_str)
ham_word_token=retokenize.tokenize(ham_str)
# 스팸메일, 햄메일의 string 값을 영어 단어만 추출하여 토큰화

In [396]:
# df['v2'] = df['v2'].apply(lambda x: ' '.join(retokenize.tokenize(x)))

In [397]:
print(spam_word_token[:10])
print(ham_word_token[:10])

['free', 'entry', 'in', 'a', 'wkly', 'comp', 'to', 'win', 'fa', 'cup']
['go', 'until', 'jurong', 'point', 'crazy', 'available', 'only', 'ok', 'lar', 'joking']

## 어간 분리, 단어의 원형 찾기

In [398]:
# spam_str=df['v2'][df['v1']=='spam'].to_string()
# ham_str=df['v2'][df['v1']=='ham'].to_string()

In [399]:
from nltk.stem import WordNetLemmatizer

In [400]:
lm=WordNetLemmatizer()

In [401]:
spam_word_token_lemma=[lm.lemmatize(w, pos='v') for w in spam_word_token]
ham_word_token_lemma=[lm.lemmatize(w, pos='v') for w in ham_word_token]
# lemmatize - 단어의 원형을 리스트에 저장

In [402]:
print(spam_word_token[30:40])
print(spam_word_token_lemma[30:40])

['your', 'mobile', 'months', 'or', 'more', 'u', 'r', 'entitle', 'six', 'chances']
['your', 'mobile', 'months', 'or', 'more', 'u', 'r', 'entitle', 'six', 'chance']

In [403]:
print(ham_word_token[30:40])
print(ham_word_token_lemma[30:40])

['goes', 'to', 'usf', 'he', 'lives', 'aro', 'even', 'my', 'brother', 'is']
['go', 'to', 'usf', 'he', 'live', 'aro', 'even', 'my', 'brother', 'be']

## 불용어 제외

In [404]:
stopwords =nltk.corpus.stopwords.raw("english").split('\n') 
# stopwords 파일 불러오기

In [405]:
stopwords[:10]

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're"]

In [406]:
spam_token2=[w for w in spam_word_token_lemma if w not in stopwords]
ham_token2=[w for w in ham_word_token_lemma if w not in stopwords]
# stopwords에 없는 단어들만 추출하여 저장

## 높은 빈도수를 가진 단어들을 판별 리스트에 저장

In [407]:
from nltk import FreqDist

In [408]:
FreqDist(spam_token2).most_common(10)

[('u', 109),
 ('free', 89),
 ('ur', 81),
 ('win', 77),
 ('call', 75),
 ('urgent', 57),
 ('mobile', 55),
 ('new', 52),
 ('award', 41),
 ('get', 40)]

In [409]:
FreqDist(ham_token2).most_common(10)

[('u', 578),
 ('get', 360),
 ('go', 323),
 ('ok', 243),
 ('call', 203),
 ('come', 202),
 ('good', 153),
 ('know', 152),
 ('say', 144),
 ('lt', 139)]

In [410]:
spam_list=[]
ham_list=[]
for i in range(1,30):
    spam_list.append(FreqDist(spam_token2).most_common(50)[i][0])
    ham_list.append(FreqDist(ham_token2).most_common(50)[i][0])
# 두 메일의 1순위 단어는 'u'로 동일. 이를 제외한 빈도수 30위까지의 단어를 리스트에 저장

In [411]:
print(spam_list[:10])
print(ham_list[:10])

['free', 'ur', 'win', 'call', 'urgent', 'mobile', 'new', 'award', 'get', 'service']
['get', 'go', 'ok', 'call', 'come', 'good', 'know', 'say', 'lt', 'k']

## Vectorize, 스팸 메일 판별

In [431]:
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer

In [432]:
tfidf=TfidfVectorizer()

In [414]:
print(tfidf.fit_transform(spam_list).toarray()[:3])

[[0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1.
  0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 1.]]

In [415]:
print(tfidf.vocabulary_)

{'free': 9, 'ur': 23, 'win': 27, 'call': 1, 'urgent': 24, 'mobile': 11, 'new': 12, 'award': 0, 'get': 10, 'service': 18, 'contact': 6, 'nokia': 13, 'try': 21, 'tone': 20, 'please': 15, 'customer': 7, 'want': 25, 'claim': 5, 'ringtone': 17, 'number': 14, 'text': 19, 'week': 26, 'chance': 3, 'cash': 2, 'chat': 4, 'reply': 16, 'date': 8, 'txt': 22}

In [416]:
mail='free win good know mobile'

In [417]:
tfidf.fit_transform(spam_list).toarray()
spam_count=tfidf.transform([mail]).toarray().sum()
tfidf.fit_transform(ham_list).toarray()
ham_count=tfidf.transform([mail]).toarray().sum()

print(spam_count,ham_count)

if(ham_count>spam_count):
    print('햄 메일입니다.')
else:
    print('스팸 메일입니다.')

1.7320508075688776 1.4142135623730951
스팸 메일입니다.

## Load pkl

In [418]:
import joblib

In [419]:
from sklearn.linear_model import LogisticRegression

In [420]:
lr = joblib.load('movie_SA_lr.pkl')
lr

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=0, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [421]:
import re #규칙을 가지고 필터링해주는 라이브러리.!!!

In [422]:
st = "웃자 ^o^ 오늘은 좋은 날이 될 것 같은 예감100%! ^^*"

In [423]:
st = re.sub(r'[^ ㄱ-ㅎ|가-힣]+', "", st)
st

'웃자  오늘은 좋은 날이 될 것 같은 예감 '