In [142]:
import pandas as pd
import numpy as np

In [143]:
# crime_seoul= pd.read_csv('../csv-data/crime_seoul.csv',  encoding='CP949')

In [156]:
crime_seoul= pd.read_csv('../csv-data/crime_seoul_3.csv', encoding='CP949')

In [157]:
crime_seoul

      구별  살인 발생  강도 발생  강간 발생  절도 발생  폭력 발생
0     중구      2      3    105   1395   1355
1    종로구      3      6    115   1070   1278
2     중구      1      6     65   1153    869
3   서대문구      2      5    154   1812   2056
4    종로구      3      5     96   1114   1015
5    용산구      5     14    194   1557   2050
6    성북구      2      2     86    953   1194
7   동대문구      5     13    173   1981   2548
8    마포구      8     14    294   2555   2983
9   영등포구     14     22    295   2964   3572
10   성동구      4      9    126   1607   1612
11   동작구      5      9    285   1865   1910
12   광진구      4     14    240   3026   2625
13   은평구      2      2     70    819   1192
14   강북구      7     14    153   1434   2649
15   금천구      3      6    151   1567   2054
16   중랑구     13     11    187   2135   2847
17   강남구      3     15    300   2411   2465
18   관악구      9     12    320   2706   3298
19   강서구      7     13    262   2096   3207
20   강동구      4      6    156   2366   2712
21   성북구      3      3     64    832   1015
22   구로구      8     15    281   2335   3007
23   서초구      7      8    334   1982   1852
24   양천구      3      6    120   1890   2509
25   송파구     11     13    220   3239   3295
26   노원구     10      7    197   2193   2723
27   서초구      1      1     59    653    547
28   은평구      1      7     96   1095   1461
29   도봉구      3      9    102   1063   1487
30   강남구     10      6    149   1439   1819

In [149]:
# 10개 이상

In [158]:
crime_seoul.head()

     구별  살인 발생  강도 발생  강간 발생  절도 발생  폭력 발생
0    중구      2      3    105   1395   1355
1   종로구      3      6    115   1070   1278
2    중구      1      6     65   1153    869
3  서대문구      2      5    154   1812   2056
4   종로구      3      5     96   1114   1015

In [159]:
crime_seoul.set_index('구별', inplace=True)

In [160]:
len(crime_seoul)

31

In [161]:
crime_seoul.head()

      살인 발생  강도 발생  강간 발생  절도 발생  폭력 발생
구별
중구        2      3    105   1395   1355
종로구       3      6    115   1070   1278
중구        1      6     65   1153    869
서대문구      2      5    154   1812   2056
종로구       3      5     96   1114   1015

In [162]:
crime_seoul

      살인 발생  강도 발생  강간 발생  절도 발생  폭력 발생
구별
중구        2      3    105   1395   1355
종로구       3      6    115   1070   1278
중구        1      6     65   1153    869
서대문구      2      5    154   1812   2056
종로구       3      5     96   1114   1015
용산구       5     14    194   1557   2050
성북구       2      2     86    953   1194
동대문구      5     13    173   1981   2548
마포구       8     14    294   2555   2983
영등포구     14     22    295   2964   3572
성동구       4      9    126   1607   1612
동작구       5      9    285   1865   1910
광진구       4     14    240   3026   2625
은평구       2      2     70    819   1192
강북구       7     14    153   1434   2649
금천구       3      6    151   1567   2054
중랑구      13     11    187   2135   2847
강남구       3     15    300   2411   2465
관악구       9     12    320   2706   3298
강서구       7     13    262   2096   3207
강동구       4      6    156   2366   2712
성북구       3      3     64    832   1015
구로구       8     15    281   2335   3007
서초구       7      8    334   1982   1852
양천구       3      6    120   1890   2509
송파구      11     13    220   3239   3295
노원구      10      7    197   2193   2723
서초구       1      1     59    653    547
은평구       1      7     96   1095   1461
도봉구       3      9    102   1063   1487
강남구      10      6    149   1439   1819

In [163]:
crime_seoul2=pd.pivot_table(crime_seoul, index='구별', aggfunc=np.sum)

In [164]:
crime_seoul2

      강간 발생  강도 발생  살인 발생  절도 발생  폭력 발생
구별
강남구     449     21     13   3850   4284
강동구     156      6      4   2366   2712
강북구     153     14      7   1434   2649
강서구     262     13      7   2096   3207
관악구     320     12      9   2706   3298
광진구     240     14      4   3026   2625
구로구     281     15      8   2335   3007
금천구     151      6      3   1567   2054
노원구     197      7     10   2193   2723
도봉구     102      9      3   1063   1487
동대문구    173     13      5   1981   2548
동작구     285      9      5   1865   1910
마포구     294     14      8   2555   2983
서대문구    154      5      2   1812   2056
서초구     393      9      8   2635   2399
성동구     126      9      4   1607   1612
성북구     150      5      5   1785   2209
송파구     220     13     11   3239   3295
양천구     120      6      3   1890   2509
영등포구    295     22     14   2964   3572
용산구     194     14      5   1557   2050
은평구     166      9      3   1914   2653
종로구     211     11      6   2184   2293
중구      170      9      3   2548   2224
중랑구     187     11     13   2135   2847

In [165]:
len(crime_seoul2)

25