In [3]:
import warnings
warnings.filterwarnings(action='ignore')
import pandas as pd

In [4]:
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer

In [5]:
import nltk

In [8]:
nltk.corpus.twitter_samples.fileids()

['negative_tweets.json', 'positive_tweets.json', 'tweets.20150430-223406.json']

In [9]:
neg_tweets_raw = nltk.corpus.twitter_samples.raw("negative_tweets.json")

# spam.csv

In [10]:
from nltk.tokenize import sent_tokenize
from nltk.tokenize import word_tokenize
from nltk.tokenize import RegexpTokenizer

In [50]:
df=pd.read_csv('spam.csv', encoding='latin1')

In [51]:
df

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [52]:
df=df[{'v1', 'v2'}]

In [85]:
df

                                                     v2    v1
0     Go until jurong point crazy Available only in ...   ham
1                               Ok lar Joking wif u oni   ham
2     Free entry in 2 a wkly comp to win FA Cup fina...  spam
3           U dun say so early hor U c already then say   ham
4     Nah I don t think he goes to usf he lives arou...   ham
...                                                 ...   ...
5567  This is the 2nd time we have tried 2 contact u...  spam
5568               Will Ì_ b going to esplanade fr home   ham
5569  Pity was in mood for that So any other suggest...   ham
5570  The guy did some bitching but I acted like i d...   ham
5571                          Rofl Its true to its name   ham

[5572 rows x 2 columns]

In [121]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   v2      5572 non-null   object
 1   v1      5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [123]:
df[df['v1']=='ham'].head()

                                                  v2   v1
0  Go until jurong point crazy Available only in ...  ham
1                            Ok lar Joking wif u oni  ham
3        U dun say so early hor U c already then say  ham
4  Nah I don t think he goes to usf he lives arou...  ham
6  Even my brother is not like to speak with me T...  ham

In [124]:
df[df['v1']=='spam'].head()

                                                   v2    v1
2   Free entry in 2 a wkly comp to win FA Cup fina...  spam
5   FreeMsg Hey there darling it s been 3 week s n...  spam
8   WINNER As a valued network customer you have b...  spam
9   Had your mobile 11 months or more U R entitled...  spam
11  SIX chances to win CASH From 100 to 20 000 pou...  spam

## 정규식 사용하여 단어만 추출 후, 결과 리스트의 요소들을 공백 기준 String으로 변환

In [125]:
spam_str=df['v2'][df['v1']=='spam'].to_string().lower()
ham_str=df['v2'][df['v1']=='ham'].to_string().lower()
# 스팸메일, 햄메일 내용을 전부 묶어 각각 string으로 저장, 소문자로 변환

In [126]:
retokenize=RegexpTokenizer('[a-zA-Z]+') #영어 글자만 추출하는 정규식(대, 소문자 포함)

In [127]:
spam_word_token=retokenize.tokenize(spam_str)
ham_word_token=retokenize.tokenize(ham_str)
# 스팸메일, 햄메일의 string 값을 영어 단어만 추출하여 토큰화

In [128]:
# df['v2'] = df['v2'].apply(lambda x: ' '.join(retokenize.tokenize(x)))

In [129]:
print(spam_word_token[:10])
print(ham_word_token[:10])

['free', 'entry', 'in', 'a', 'wkly', 'comp', 'to', 'win', 'fa', 'cup']
['go', 'until', 'jurong', 'point', 'crazy', 'available', 'only', 'in', 'ok', 'lar']

## 어간 분리, 단어의 원형 찾기

In [130]:
# spam_str=df['v2'][df['v1']=='spam'].to_string()
# ham_str=df['v2'][df['v1']=='ham'].to_string()

In [61]:
from nltk.stem import WordNetLemmatizer

In [62]:
lm=WordNetLemmatizer()

In [139]:
spam_word_token_lemma=[lm.lemmatize(w, pos='v') for w in spam_word_token]
ham_word_token_lemma=[lm.lemmatize(w, pos='v') for w in ham_word_token]
# lemmatize - 단어의 원형을 리스트에 저장

In [140]:
print(spam_word_token[30:40])
print(spam_word_token_lemma[30:40])

['had', 'your', 'mobile', 'months', 'or', 'more', 'u', 'r', 'entitled', 'six']
['have', 'your', 'mobile', 'months', 'or', 'more', 'u', 'r', 'entitle', 'six']

In [141]:
print(ham_word_token[30:40])
print(ham_word_token_lemma[30:40])

['he', 'goes', 'to', 'usf', 'he', 'lives', 'arou', 'even', 'my', 'brother']
['he', 'go', 'to', 'usf', 'he', 'live', 'arou', 'even', 'my', 'brother']

In [142]:
from nltk import FreqDist

In [148]:
stopwords =nltk.corpus.stopwords.raw("english").split('\n') # stopwords 파일 불러오기

In [149]:
stopwords

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 '']