In [365]:
import pandas as pd
import numpy as np

In [366]:
dates=pd.date_range('2020-06-25', periods=6)
dates

DatetimeIndex(['2020-06-25', '2020-06-26', '2020-06-27', '2020-06-28',
               '2020-06-29', '2020-06-30'],
              dtype='datetime64[ns]', freq='D')

In [367]:
df=pd.DataFrame(np.random.randn(6, 4), index=[dates] ,columns=['A','B','C','D'])
df

                   A         B         C         D
2020-06-25  0.101035  1.209689 -2.050134  0.761959
2020-06-26 -0.218045  0.062976 -0.104920 -1.642945
2020-06-27  0.694684 -2.449880 -0.338564 -0.512372
2020-06-28 -1.480230 -0.854505  1.269674  0.017901
2020-06-29 -0.118176  1.423899 -1.974219 -0.969888
2020-06-30  0.209052  0.195105 -0.467051 -0.838102

In [368]:
df2=df.copy()
df2
# df는 기본적으로 행, 열의 위치값을 가지고 있음.
# 기본적으로 가지고 있는 위치값(index)를 이용해서 조작하는 경우
# iloc[]를 사용!
# 특정한 그래프나 분석시 특정 항목을 index항목으로 수동으로 설정해야하는 경우가 있음
# 특정 항목으로 index항목으로 설정 가능한 경우는 unique한 값을 가지는 항목만
# "unique/not null인 값을 가지는 항목"만
# 설정 가능! user_id, bbs_id pk조건과 일치!

                   A         B         C         D
2020-06-25  0.101035  1.209689 -2.050134  0.761959
2020-06-26 -0.218045  0.062976 -0.104920 -1.642945
2020-06-27  0.694684 -2.449880 -0.338564 -0.512372
2020-06-28 -1.480230 -0.854505  1.269674  0.017901
2020-06-29 -0.118176  1.423899 -1.974219 -0.969888
2020-06-30  0.209052  0.195105 -0.467051 -0.838102

In [369]:
df2.reset_index(inplace=True)

In [370]:
df2

     level_0         A         B         C         D
0 2020-06-25  0.101035  1.209689 -2.050134  0.761959
1 2020-06-26 -0.218045  0.062976 -0.104920 -1.642945
2 2020-06-27  0.694684 -2.449880 -0.338564 -0.512372
3 2020-06-28 -1.480230 -0.854505  1.269674  0.017901
4 2020-06-29 -0.118176  1.423899 -1.974219 -0.969888
5 2020-06-30  0.209052  0.195105 -0.467051 -0.838102

In [371]:
df2.set_index('level_0', inplace=True)

In [372]:
df2

                   A         B         C         D
level_0
2020-06-25  0.101035  1.209689 -2.050134  0.761959
2020-06-26 -0.218045  0.062976 -0.104920 -1.642945
2020-06-27  0.694684 -2.449880 -0.338564 -0.512372
2020-06-28 -1.480230 -0.854505  1.269674  0.017901
2020-06-29 -0.118176  1.423899 -1.974219 -0.969888
2020-06-30  0.209052  0.195105 -0.467051 -0.838102

In [373]:
df2['E']=df2['A']+1 #브로드캐스팅!

In [374]:
df2.columns

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

In [375]:
df2['E']

level_0
2020-06-25    1.101035
2020-06-26    0.781955
2020-06-27    1.694684
2020-06-28   -0.480230
2020-06-29    0.881824
2020-06-30    1.209052
Name: E, dtype: float64

In [376]:
df2['F']=0

In [377]:
df2['F']

level_0
2020-06-25    0
2020-06-26    0
2020-06-27    0
2020-06-28    0
2020-06-29    0
2020-06-30    0
Name: F, dtype: int64

In [378]:
df2['G']=range(0, 6)
df2['G']

level_0
2020-06-25    0
2020-06-26    1
2020-06-27    2
2020-06-28    3
2020-06-29    4
2020-06-30    5
Name: G, dtype: int32

In [379]:
# 인덱스를 변경하고 싶은 경우, 기존의 인덱스를 살리고 싶으면
# 먼저 reset_index() 하고 나서 해야함.
# reset을 하지 않는 경우 기존 index항목은 사라짐.
df2.set_index('G', inplace=True)

In [380]:
df2.columns

Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')

In [381]:
df3=df.copy()
df3

                   A         B         C         D
2020-06-25  0.101035  1.209689 -2.050134  0.761959
2020-06-26 -0.218045  0.062976 -0.104920 -1.642945
2020-06-27  0.694684 -2.449880 -0.338564 -0.512372
2020-06-28 -1.480230 -0.854505  1.269674  0.017901
2020-06-29 -0.118176  1.423899 -1.974219 -0.969888
2020-06-30  0.209052  0.195105 -0.467051 -0.838102

In [382]:
import random

In [383]:
# E항목을 파생변수로 만드세요. 1~10범위 값
# F항목을 파생변수로 만드세요. A열과 C열의 합
# H항목을 파생변수로 만드세요.
# Z항목을 파생변수로 만드세요. 1~9까지의 랜덤한 값으로 설정

In [384]:
df3['E']=0
for i in range(6):
    df3.iloc[i,4]=random.randint(1, 10)
df3

                   A         B         C         D   E
2020-06-25  0.101035  1.209689 -2.050134  0.761959   1
2020-06-26 -0.218045  0.062976 -0.104920 -1.642945   7
2020-06-27  0.694684 -2.449880 -0.338564 -0.512372  10
2020-06-28 -1.480230 -0.854505  1.269674  0.017901   4
2020-06-29 -0.118176  1.423899 -1.974219 -0.969888  10
2020-06-30  0.209052  0.195105 -0.467051 -0.838102   4

In [385]:
df3['F']=0
df3['F']=df3['A']+df3['C']
df3

                   A         B         C         D   E         F
2020-06-25  0.101035  1.209689 -2.050134  0.761959   1 -1.949099
2020-06-26 -0.218045  0.062976 -0.104920 -1.642945   7 -0.322965
2020-06-27  0.694684 -2.449880 -0.338564 -0.512372  10  0.356121
2020-06-28 -1.480230 -0.854505  1.269674  0.017901   4 -0.210555
2020-06-29 -0.118176  1.423899 -1.974219 -0.969888  10 -2.092395
2020-06-30  0.209052  0.195105 -0.467051 -0.838102   4 -0.258000

In [386]:
df3['H']=''
df3

                   A         B         C         D   E         F H
2020-06-25  0.101035  1.209689 -2.050134  0.761959   1 -1.949099
2020-06-26 -0.218045  0.062976 -0.104920 -1.642945   7 -0.322965
2020-06-27  0.694684 -2.449880 -0.338564 -0.512372  10  0.356121
2020-06-28 -1.480230 -0.854505  1.269674  0.017901   4 -0.210555
2020-06-29 -0.118176  1.423899 -1.974219 -0.969888  10 -2.092395
2020-06-30  0.209052  0.195105 -0.467051 -0.838102   4 -0.258000

In [387]:
df3['Z']=0
for i in range(6):
    df3.iloc[i,7]=random.randint(1, 9)
df3

                   A         B         C         D   E         F H  Z
2020-06-25  0.101035  1.209689 -2.050134  0.761959   1 -1.949099    3
2020-06-26 -0.218045  0.062976 -0.104920 -1.642945   7 -0.322965    7
2020-06-27  0.694684 -2.449880 -0.338564 -0.512372  10  0.356121    9
2020-06-28 -1.480230 -0.854505  1.269674  0.017901   4 -0.210555    6
2020-06-29 -0.118176  1.423899 -1.974219 -0.969888  10 -2.092395    3
2020-06-30  0.209052  0.195105 -0.467051 -0.838102   4 -0.258000    7

In [388]:
df3['Z2']=[random.randint(1, 10) for _ in range(6)] 
#[]문법 => 리스트 내포: 결과가 항상list 
#list comprehension
df3

                   A         B         C         D   E         F H  Z  Z2
2020-06-25  0.101035  1.209689 -2.050134  0.761959   1 -1.949099    3   2
2020-06-26 -0.218045  0.062976 -0.104920 -1.642945   7 -0.322965    7  10
2020-06-27  0.694684 -2.449880 -0.338564 -0.512372  10  0.356121    9   3
2020-06-28 -1.480230 -0.854505  1.269674  0.017901   4 -0.210555    6   6
2020-06-29 -0.118176  1.423899 -1.974219 -0.969888  10 -2.092395    3   9
2020-06-30  0.209052  0.195105 -0.467051 -0.838102   4 -0.258000    7  10

In [389]:
#['반복하면서 한번에 처리할 내용' for i in range(10)
[i+1 for i in range(10)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [390]:
#['반복하면서 한번에 처리할 내용' for i in range(10) if i%2==0
[i+1 for i in range(10) if i%2==0]

data3=[]
for i in range(10):
    if i%2==0:
        data3.append(i+1)
data3

[1, 3, 5, 7, 9]

In [391]:
name=['홍길동', '김길동', '송길동']
for x in name:
    print(x)

홍길동
김길동
송길동

In [392]:
# name에 들어있는 각각의 모든 데이터에 "님"자를 붙여주세요.!
[(name[i]+"님") for i in range(3)]

['홍길동님', '김길동님', '송길동님']

In [405]:
# name에 들어있는 각각의 모든 데이터의 앞에 "신입"글자를 붙여주세요!
# ["신입 "+x for x in name]
["신입 "+(name[i]) for i in range(3)]

['신입 홍길동', '신입 김길동', '신입 송길동']

In [394]:
a_list=range(1, 100, 2)

In [395]:
# a_list에 몇 개가 들어있는지 세어보세요.
len([1 for x in a_list])

50

In [396]:
# a_list의 각각의 모든 데이터에 0.1을 곱해보세요. 변경된 a_list의 합과 평균
a_list=[a_list[i]*0.1 for i in range(len(a_list))]

In [399]:
np.sum(a_list)

250.0

In [406]:
np.mean(a_list)

5.0

In [401]:
np.std(a_list)

2.8861739379323628

In [402]:
[x*0.1 for x in a_list[:3]]

[0.010000000000000002, 0.030000000000000006, 0.05]

In [412]:
df3.drop(columns=['H', 'Z2'], inplace=True

KeyError: "['H' 'Z2'] not found in axis"