In [453]:
import pandas as pd
import numpy as np

In [454]:
dates=pd.date_range('2020-06-25', periods=6)
dates

DatetimeIndex(['2020-06-25', '2020-06-26', '2020-06-27', '2020-06-28',
               '2020-06-29', '2020-06-30'],
              dtype='datetime64[ns]', freq='D')

In [455]:
df=pd.DataFrame(np.random.randn(6, 4), index=[dates] ,columns=['A','B','C','D'])
df

                   A         B         C         D
2020-06-25  1.737778  0.263825  2.252705 -0.330703
2020-06-26 -0.171490  0.212392  0.541113  0.327071
2020-06-27  0.376239  0.118295 -0.338375  0.584791
2020-06-28  0.263223  1.122000  2.090053  0.479171
2020-06-29  0.465995 -0.076793  0.569960 -0.416972
2020-06-30  0.218840 -1.870617 -0.106688  2.084369

In [456]:
df2=df.copy()
df2
# df는 기본적으로 행, 열의 위치값을 가지고 있음.
# 기본적으로 가지고 있는 위치값(index)를 이용해서 조작하는 경우
# iloc[]를 사용!
# 특정한 그래프나 분석시 특정 항목을 index항목으로 수동으로 설정해야하는 경우가 있음
# 특정 항목으로 index항목으로 설정 가능한 경우는 unique한 값을 가지는 항목만
# "unique/not null인 값을 가지는 항목"만
# 설정 가능! user_id, bbs_id pk조건과 일치!

                   A         B         C         D
2020-06-25  1.737778  0.263825  2.252705 -0.330703
2020-06-26 -0.171490  0.212392  0.541113  0.327071
2020-06-27  0.376239  0.118295 -0.338375  0.584791
2020-06-28  0.263223  1.122000  2.090053  0.479171
2020-06-29  0.465995 -0.076793  0.569960 -0.416972
2020-06-30  0.218840 -1.870617 -0.106688  2.084369

In [457]:
df2.reset_index(inplace=True)

In [458]:
df2

     level_0         A         B         C         D
0 2020-06-25  1.737778  0.263825  2.252705 -0.330703
1 2020-06-26 -0.171490  0.212392  0.541113  0.327071
2 2020-06-27  0.376239  0.118295 -0.338375  0.584791
3 2020-06-28  0.263223  1.122000  2.090053  0.479171
4 2020-06-29  0.465995 -0.076793  0.569960 -0.416972
5 2020-06-30  0.218840 -1.870617 -0.106688  2.084369

In [459]:
df2.set_index('level_0', inplace=True)

In [460]:
df2

                   A         B         C         D
level_0
2020-06-25  1.737778  0.263825  2.252705 -0.330703
2020-06-26 -0.171490  0.212392  0.541113  0.327071
2020-06-27  0.376239  0.118295 -0.338375  0.584791
2020-06-28  0.263223  1.122000  2.090053  0.479171
2020-06-29  0.465995 -0.076793  0.569960 -0.416972
2020-06-30  0.218840 -1.870617 -0.106688  2.084369

In [461]:
df2['E']=df2['A']+1 #브로드캐스팅!

In [462]:
df2.columns

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

In [463]:
df2['E']

level_0
2020-06-25    2.737778
2020-06-26    0.828510
2020-06-27    1.376239
2020-06-28    1.263223
2020-06-29    1.465995
2020-06-30    1.218840
Name: E, dtype: float64

In [464]:
df2['F']=0

In [465]:
df2['F']

level_0
2020-06-25    0
2020-06-26    0
2020-06-27    0
2020-06-28    0
2020-06-29    0
2020-06-30    0
Name: F, dtype: int64

In [466]:
df2['G']=range(0, 6)
df2['G']

level_0
2020-06-25    0
2020-06-26    1
2020-06-27    2
2020-06-28    3
2020-06-29    4
2020-06-30    5
Name: G, dtype: int32

In [467]:
# 인덱스를 변경하고 싶은 경우, 기존의 인덱스를 살리고 싶으면
# 먼저 reset_index() 하고 나서 해야함.
# reset을 하지 않는 경우 기존 index항목은 사라짐.
df2.set_index('G', inplace=True)

In [468]:
df2.columns

Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')

In [469]:
df3=df.copy()
df3

                   A         B         C         D
2020-06-25  1.737778  0.263825  2.252705 -0.330703
2020-06-26 -0.171490  0.212392  0.541113  0.327071
2020-06-27  0.376239  0.118295 -0.338375  0.584791
2020-06-28  0.263223  1.122000  2.090053  0.479171
2020-06-29  0.465995 -0.076793  0.569960 -0.416972
2020-06-30  0.218840 -1.870617 -0.106688  2.084369

In [470]:
import random

In [471]:
# E항목을 파생변수로 만드세요. 1~10범위 값
# F항목을 파생변수로 만드세요. A열과 C열의 합
# H항목을 파생변수로 만드세요.
# Z항목을 파생변수로 만드세요. 1~9까지의 랜덤한 값으로 설정

In [472]:
df3['E']=0
for i in range(6):
    df3.iloc[i,4]=random.randint(1, 10)
df3

                   A         B         C         D  E
2020-06-25  1.737778  0.263825  2.252705 -0.330703  7
2020-06-26 -0.171490  0.212392  0.541113  0.327071  4
2020-06-27  0.376239  0.118295 -0.338375  0.584791  2
2020-06-28  0.263223  1.122000  2.090053  0.479171  8
2020-06-29  0.465995 -0.076793  0.569960 -0.416972  5
2020-06-30  0.218840 -1.870617 -0.106688  2.084369  7

In [473]:
df3['F']=0
df3['F']=df3['A']+df3['C']
df3

                   A         B         C         D  E         F
2020-06-25  1.737778  0.263825  2.252705 -0.330703  7  3.990483
2020-06-26 -0.171490  0.212392  0.541113  0.327071  4  0.369623
2020-06-27  0.376239  0.118295 -0.338375  0.584791  2  0.037864
2020-06-28  0.263223  1.122000  2.090053  0.479171  8  2.353276
2020-06-29  0.465995 -0.076793  0.569960 -0.416972  5  1.035955
2020-06-30  0.218840 -1.870617 -0.106688  2.084369  7  0.112152

In [474]:
df3['H']=''
df3

                   A         B         C         D  E         F H
2020-06-25  1.737778  0.263825  2.252705 -0.330703  7  3.990483
2020-06-26 -0.171490  0.212392  0.541113  0.327071  4  0.369623
2020-06-27  0.376239  0.118295 -0.338375  0.584791  2  0.037864
2020-06-28  0.263223  1.122000  2.090053  0.479171  8  2.353276
2020-06-29  0.465995 -0.076793  0.569960 -0.416972  5  1.035955
2020-06-30  0.218840 -1.870617 -0.106688  2.084369  7  0.112152

In [475]:
df3['Z']=0
for i in range(6):
    df3.iloc[i,7]=random.randint(1, 9)
df3

                   A         B         C         D  E         F H  Z
2020-06-25  1.737778  0.263825  2.252705 -0.330703  7  3.990483    2
2020-06-26 -0.171490  0.212392  0.541113  0.327071  4  0.369623    3
2020-06-27  0.376239  0.118295 -0.338375  0.584791  2  0.037864    7
2020-06-28  0.263223  1.122000  2.090053  0.479171  8  2.353276    1
2020-06-29  0.465995 -0.076793  0.569960 -0.416972  5  1.035955    4
2020-06-30  0.218840 -1.870617 -0.106688  2.084369  7  0.112152    5

In [476]:
df3['Z2']=[random.randint(1, 10) for _ in range(6)] 
#[]문법 => 리스트 내포: 결과가 항상list 
#list comprehension
df3

                   A         B         C         D  E         F H  Z  Z2
2020-06-25  1.737778  0.263825  2.252705 -0.330703  7  3.990483    2   3
2020-06-26 -0.171490  0.212392  0.541113  0.327071  4  0.369623    3   5
2020-06-27  0.376239  0.118295 -0.338375  0.584791  2  0.037864    7   8
2020-06-28  0.263223  1.122000  2.090053  0.479171  8  2.353276    1   1
2020-06-29  0.465995 -0.076793  0.569960 -0.416972  5  1.035955    4   8
2020-06-30  0.218840 -1.870617 -0.106688  2.084369  7  0.112152    5   2

In [477]:
#['반복하면서 한번에 처리할 내용' for i in range(10)
[i+1 for i in range(10)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [478]:
#['반복하면서 한번에 처리할 내용' for i in range(10) if i%2==0
[i+1 for i in range(10) if i%2==0]

data3=[]
for i in range(10):
    if i%2==0:
        data3.append(i+1)
data3

[1, 3, 5, 7, 9]

In [479]:
name=['홍길동', '김길동', '송길동']
for x in name:
    print(x)

홍길동
김길동
송길동

In [480]:
# name에 들어있는 각각의 모든 데이터에 "님"자를 붙여주세요.!
[(name[i]+"님") for i in range(3)]

['홍길동님', '김길동님', '송길동님']

In [481]:
# name에 들어있는 각각의 모든 데이터의 앞에 "신입"글자를 붙여주세요!
# ["신입 "+x for x in name]
["신입 "+(name[i]) for i in range(3)]

['신입 홍길동', '신입 김길동', '신입 송길동']

In [482]:
a_list=range(1, 100, 2)

In [483]:
# a_list에 몇 개가 들어있는지 세어보세요.
len([1 for x in a_list])

50

In [484]:
# a_list의 각각의 모든 데이터에 0.1을 곱해보세요. 변경된 a_list의 합과 평균
a_list=[a_list[i]*0.1 for i in range(len(a_list))]

In [485]:
np.sum(a_list)

250.0

In [486]:
np.mean(a_list)

5.0

In [487]:
np.std(a_list)

2.8861739379323628

In [488]:
[x*0.1 for x in a_list[:3]]

[0.010000000000000002, 0.030000000000000006, 0.05]

In [489]:
df3.drop(columns=['H', 'Z2'], inplace=True) #행 삭제
df3

                   A         B         C         D  E         F  Z
2020-06-25  1.737778  0.263825  2.252705 -0.330703  7  3.990483  2
2020-06-26 -0.171490  0.212392  0.541113  0.327071  4  0.369623  3
2020-06-27  0.376239  0.118295 -0.338375  0.584791  2  0.037864  7
2020-06-28  0.263223  1.122000  2.090053  0.479171  8  2.353276  1
2020-06-29  0.465995 -0.076793  0.569960 -0.416972  5  1.035955  4
2020-06-30  0.218840 -1.870617 -0.106688  2.084369  7  0.112152  5

In [498]:
df3.loc['2020-06-20']=1
df3

                               A         B         C         D  E         F  Z
(2020-06-25 00:00:00,)  1.737778  0.263825  2.252705 -0.330703  7  3.990483  2
(2020-06-26 00:00:00,) -0.171490  0.212392  0.541113  0.327071  4  0.369623  3
(2020-06-27 00:00:00,)  0.376239  0.118295 -0.338375  0.584791  2  0.037864  7
(2020-06-28 00:00:00,)  0.263223  1.122000  2.090053  0.479171  8  2.353276  1
(2020-06-29 00:00:00,)  0.465995 -0.076793  0.569960 -0.416972  5  1.035955  4
(2020-06-30 00:00:00,)  0.218840 -1.870617 -0.106688  2.084369  7  0.112152  5
2020-06-20              1.000000  1.000000  1.000000  1.000000  1  1.000000  1