In [1]:
from urllib import request

In [2]:
from bs4 import BeautifulSoup

In [3]:
!dir

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: AE94-D5A8

 C:\Users\hi\hi-AI\data01 디렉터리

2022-03-16  오전 10:38    <DIR>          .
2022-03-16  오전 10:38    <DIR>          ..
2022-03-16  오전 10:38    <DIR>          .ipynb_checkpoints
2022-03-15  오후 12:41           273,299 crawling1.ipynb
2022-03-15  오후 04:37            39,040 crawling2.ipynb
2022-03-15  오후 03:49            20,328 crawling3.ipynb
2022-03-15  오후 05:05            10,785 hot-scv-read.ipynb
2022-03-15  오후 04:17             1,543 hottract.csv
2022-03-16  오전 10:15            25,502 lol_player.csv
2022-03-16  오전 10:38            23,929 miniproject_op.gg_crawling.ipynb
2022-03-16  오전 10:38             8,989 op.gg_player_crwaling.ipynb
2022-03-16  오전 10:38             8,989 op.gg_player_crwaling_module.ipynb
2022-03-15  오후 01:01               555 test3.ipynb
              10개 파일             412,959 바이트
               3개 디렉터리  53,737,365,504 바이트 남음

In [4]:
con = []
for i in range(1, 11):
    con.append(request.urlopen('https://www.op.gg/leaderboards/tier?page='+str(i)+'&region=kr'))
con

[<http.client.HTTPResponse at 0x1294209e0c8>,
 <http.client.HTTPResponse at 0x1294209edc8>,
 <http.client.HTTPResponse at 0x129420a6dc8>,
 <http.client.HTTPResponse at 0x129420b6508>,
 <http.client.HTTPResponse at 0x129420b6c48>,
 <http.client.HTTPResponse at 0x129420b0488>,
 <http.client.HTTPResponse at 0x129420b0b88>,
 <http.client.HTTPResponse at 0x129420ba2c8>,
 <http.client.HTTPResponse at 0x129420baa08>,
 <http.client.HTTPResponse at 0x129420bab48>]

In [5]:
def connect(data):
    con=request.urlopen('https://www.op.gg/leaderboards/tier?page='+ str(data) +'&region=kr')
    print(con.status)
    doc = BeautifulSoup(con, 'html.parser')
    rank = doc.select('.rank')
    rank_list = []
    for one in rank:
        rank_list.append(one.text)
    rank_top = doc.select('.name')
#     print(len(rank_top))
    rank_top_list = []
    for one in rank_top:
        rank_top_list.append(one.text)
#     print(rank_top_list)
    ranker = doc.select('strong')
    ranker.pop()
#     print(len(ranker))
    ranker_list = []
    for one in ranker:
        ranker_list.append(one.text)
#     print(ranker_list)
    name_list = rank_top_list + ranker_list
#     print(name_list)
    level = doc.select('.level')
    level_list = []
    for one in level:
        level_list.append(one.text)
    win = doc.select('.w')
    win_list = []
    for one in win:
        win_list.append(one.text)
    print(len(rank_list))
    return rank_list, name_list, level_list, win_list

In [6]:
rank_list3 = []
name_list3 = []
level_list3 = []
win_list3 = []
for i in range(1, 11):
    rank_list2, name_list2, level_list2, win_list2 = connect(i)
    rank_list3 += rank_list2
    name_list3 += name_list2
    level_list3 += level_list2
    win_list3 += win_list2
    
for i in range(1, 5):
    temp=level_list3[i].split('.')
    level_list3[i]=temp[1]

200
100
200
100
200
100
200
100
200
100
200
100
200
100
200
100
200
100
200
100

In [7]:
len(rank_list3)

1000

In [8]:
opgg_file = open('miniproject.csv', 'a', encoding='utf-8-sig')
# rank,name,level,win

In [9]:
for i in range(1000):
    opgg_file.write(rank_list3[i] + ',' +
                    name_list3[i] + ',' +
                    level_list3[i] + ',' +
                    win_list3[i]+ '\n')

In [10]:
opgg_file.close()

In [11]:
import pandas as pd

In [13]:
ranking = pd.read_csv('miniproject.csv', encoding='utf-8')
ranking

     rank           name  level  win
0       1        iiwandy     69  292
1       2        roookie     57  213
2       3           어상내하     48  129
3       4         nodfan     98  151
4       5  SwordArt77777     65  265
..    ...            ...    ...  ...
995   996    Ahriman LYH     92   92
996   997         Haojay     73  205
997   998      2020karsa     43   95
998   999       juiceqnq     53  131
999  1000      NS Haenam    373  603

[1000 rows x 4 columns]