In [113]:
from urllib import request

In [114]:
from bs4 import BeautifulSoup

In [115]:
import pandas as pd

In [116]:
name_list=[]
rank_list=[]
level_list=[]
win_list=[]
# 컬럼은 name, rank, level, win 4가지, 이에 해당하는 list를 선언

In [117]:
for i in range(1, 11):
    con=request.urlopen('https://www.op.gg/leaderboards/tier?page='+str(i)+'&region=kr') # 1~10페이지 까지의 url을 요청
    doc = BeautifulSoup(con, 'html.parser')
    if i==1:
        name_list+=doc.select('.name') # 1페이지의 1~5위 유저는 name이라는 클래스명의 태그를 사용하므로, 이를 찾아 list에 삽입
    name_list+=doc.select('strong') # 그 외의 유저는 strong태그를 사용하므로, 이를 찾아 list에 삽입
    name_list.pop() #페이지마다 맨 마지막에 사용되는 strong태그에는 유저 정보가 아닌 다른 내용이 있으므로, 이를 pop()하여 제거 
    rank_list+=doc.select('.rank')
    level_list+=doc.select('.level')
    win_list+=doc.select('.w')
# op.gg 사이트의 1~10페이지까지 플레이어 랭킹 정보를 크롤링하여 list에 저장

In [118]:
len(name_list), len(rank_list), len(level_list), len(win_list) #데이터의 row는 1000개

(1000, 1000, 1000, 1000)

In [119]:
name_text=[]
for one in name_list:
    name_text.append(one.text)

rank_text=[]
for one in rank_list:
    rank_text.append(one.text)

level_text=[]
for one in level_list:
    level_text.append(one.text)
    
win_text=[]
for one in win_list:
    win_text.append(one.text) 
# 크롤링한 데이터의 text만 추출하여 list에 저장
    
for i in range(1, 5):
    temp=level_text[i].split('.')
    level_text[i]=temp[1]
# 랭킹 2~5위 유저의 레벨은 Lv. 접두어가 포함되므로, 이를 통일시키기 위해 Lv.을 제거하고 넣어주는 전처리가 필요

In [120]:
lol_player_file=open('lol_player.csv', 'w', encoding = 'utf8')

In [121]:
lol_player_file.write('rank,name,level,win\n')

20

In [122]:
for i in range(1000):
    lol_player_file.write(rank_text[i] + ',' +
                         name_text[i] + ',' +
                         level_text[i]+ ',' +
                         win_text[i] + '\n')

In [123]:
lol_player_file=open('lol_player.csv', 'a', encoding = 'utf8')
player= pd.read_csv('lol_player.csv')
player

     rank           name  level  win
0       1        iiwandy     69  292
1       2        roookie     57  213
2       3           어상내하     48  129
3       4         nodfan     98  151
4       5  SwordArt77777     65  265
..    ...            ...    ...  ...
995   996    Ahriman LYH     92   92
996   997         Haojay     73  205
997   998      2020karsa     43   95
998   999       juiceqnq     53  131
999  1000      NS Haenam    373  603

[1000 rows x 4 columns]

In [124]:
lol_player_file.close()